{% extends 'base.html.twig' %}

{% block title %}ajouter un article{% endblock %}

{% block body %}


<div class="">
    <h1>CRéer un nouvel article</h1>
    {{ form(formulaire) }}

</div>
{% endblock %}
